html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html,
body {
  height: 100%;
  width: 100%;
	line-height: 1;
	font-size: 15px;
	font-family: "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	background-color: #f9f9f9;
	color: #333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	text-decoration: none;
	color: inherit
}
:focus {
	outline: 0;
}


@font-face {
  font-family: 'iconfont';  /* project id 1478649 */
  src: url('//at.alicdn.com/t/font_1478649_5n0pgdjcdde.eot');
  src: url('//at.alicdn.com/t/font_1478649_5n0pgdjcdde.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1478649_5n0pgdjcdde.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1478649_5n0pgdjcdde.woff') format('woff'),
  url('//at.alicdn.com/t/font_1478649_5n0pgdjcdde.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1478649_5n0pgdjcdde.svg#iconfont') format('svg');
}

/* 隐藏滚动条 但还可以滚动 */
/* ::-webkit-scrollbar{
	display: none;
} */


/*  */
.team-box-row,
.business-row {
	margin: auto;
	max-width: 1560px;
}
.home-team-box-title {
	margin-bottom: 50px;
	letter-spacing: 4px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.home-team-box-title {
		font-size: 22px;
	}
}
@media screen and (min-width: 769px) {
	.home-team-box-title {
		font-size: 32px;
	}
}